<div class ="container mt5">
  <div class="text-center">
    <h1>Recruitment Management System</h1>
    <p class="lead">
      Welcome to the Recruitment Management System. Please log in to continue.
    </p>
    <button (click)="loginToggle()" class="btn btn-primary btn-lg me-2">
      Login
    </button>
  </div>

  <!-- Form Login -->
  <div *ngIf="loginMode" class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-login (cancelLogin)="cancelLoginMode($event)"></app-login>
      </div>
    </div>
  </div>

  <div *ngIf="!loginMode" class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-8">
        <h2 class="text-center mb-4">Current Job Openings</h2>
        <div *ngFor="let job of jobs" class="card mb-3">
          <div class="card-body">
            <h5 class="card-title
">{{ job.title }}</h5>
            <p class="card-text">{{ job.description }}</p>
            <p class="card-text"><strong>Location:</strong> {{ job.location }}</p>
            <p class="card-text"><strong>Posted on:</strong> {{ job.postedDate | date }}</p>
           <button class="btn btn-success" (click)="applyJob(job)">Apply Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
