<div class="col-8">
    <form #editForm="ngForm" id="editForm" (ngSubmit)="UpdateDepartment()">
        <h4 class="mt-2">{{ 'department.name' | translate }}:</h4>
        <textarea class="form-control"
            [(ngModel)]="department!.Name"
            name="Name"
            rows="1"
        ></textarea>
    </form>

    <h4 class="mt-3">{{ 'department.description' | translate }}:</h4>
    <textarea class="form-control"
        [(ngModel)]="department!.Description"
        name="Description"
        rows="5"
    ></textarea>

    <h4 class="mt-3">{{ 'department.slNhanVien' | translate }}:</h4>
    <textarea class="form-control"
        [(ngModel)]="department!.SlNhanVien"
        name="SlNhanVien"
        rows="1"
    ></textarea>

    <h4 class="mt-3">{{ 'department.addresses' | translate }}:</h4>
    <textarea class="form-control"
        [(ngModel)]="department!.Addresses"
        name="Adresses"
        rows="1"
    ></textarea>

    <h4 class="mt-3">{{ 'department.notes' | translate }}:</h4>
    <textarea class="form-control"
        [(ngModel)]="department!.Notes"
        name="email"
        rows="1"
    ></textarea>

    <div class="card-footer mt-2">
        <button type="submit"
            form="editForm"
            class="btn btn-success col-4">{{ 'common.saveChanges' | translate }}
        </button>
        <button type="button"
            class="btn btn-secondary col-4 ms-5">{{ 'common.cancel' | translate }}
        </button>
    </div>
</div>

