<div class="container mt-5">
  <div class="text-center">
    <h1>{{ 'dashboard.title' | translate }}</h1>
    <p class="lead">
      {{ 'dashboard.welcome' | translate }}
    </p>

    <!-- Nút chuyển hướng -->
    <div class="text-center">
      <button (click)="registerNavigate()" class="btn btn-primary btn-lg me-2">
        {{ 'dashboard.register' | translate }}
      </button>

      <button class="btn btn-info btn-lg">{{ 'dashboard.learnMore' | translate }}</button>
    </div>

    <hr />

    <p class="lead">{{ 'dashboard.alreadyHaveAccount' | translate }}</p>

    <button (click)="loginNavigate()" class="btn btn-success btn-lg me-2">
      {{ 'dashboard.login' | translate }}
    </button>
  </div>
</div>
