<div class="container mt-5" *ngIf="contract">
  <h2>List of Leaves</h2>
  <div>
    <table class="table table-bordered">
      <thead class="table-dark">
        <tr>
          <th>Leave ID</th>
          <th>Employee ID</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Reason</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let leave of leaves">
          <td>{{ leave.LeaveId }}</td>
          <td>{{ leave.EmployeeName }}</td>
          <td>{{ leave.StartDate | date }}</td>
          <td>{{ leave.EndDate | date }}</td>
          <td>{{ leave.Reason }}</td>
          <td>{{ leave.Status }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



