<div class="container mt-5" *ngIf="contract">
  <h3>Information Contract</h3>
  <table class="table table-bordered">
    <tr><th>Contract ID</th><td>{{ contract.ContractId }}</td></tr>
    <tr><th>Contract Name</th><td>{{ contract.ContractName }}</td></tr>
    <tr><th>Employee Name</th><td>{{ contract.EmployeeName }}</td></tr>
    <tr><th>Contract Type</th><td>{{ contract.ContractType }}</td></tr>
    <tr><th>Start Date</th><td>{{ contract.StartDate }}</td></tr>
    <tr><th>End Date</th><td>{{ contract.EndDate }}</td></tr>
    <tr><th>Basic Salary</th><td>{{ contract.BasicSalary | number }}</td></tr>
    <tr><th>Allowance</th><td>{{ contract.Allowance | number }}</td></tr>
    <tr><th>Created At</th><td>{{ contract.CreateAt }}</td></tr>
    <tr><th>Updated At</th><td>{{ contract.UpdateAt }}</td></tr>
    <tr><th>Job Description</th><td>{{ contract.JobDescription }}</td></tr>
    <tr><th>Contract Term</th><td>{{ contract.ContractTerm }}</td></tr>
    <tr><th>Work Location</th><td>{{ contract.WorkLocation }}</td></tr>
    <tr><th>Leave of Absence</th><td>{{ contract.Leaveofabsence }}</td></tr>
  </table>
</div>



